.ant-divider-horizontal {
  background-color: rgb(9, 37, 69); /* Adjust color as needed */
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.property-header {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.property_img {
  width: 70%;
  height: 380px;
  border-radius: 10px;
  margin-right: 20px;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow: hidden; /* Ensure image doesn't overflow its container */
}

.property_img img {
  max-width: 100%; /* Ensure image doesn't exceed the container width */
  max-height: 100%; /* Ensure image doesn't exceed the container height */
}

.tools_box {
  width: 30%;
  height: fit-content;
  border-radius: 10px;
}

.title-box {
  width: 60%;
  margin-left: 15px;
}

.description-contatiner {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.description-header {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid rgb(9, 37, 69);
  text-align: center;

}

.rental-info {
  margin: 5px;
  border-radius: 10px;
  display: grid; /* Use flexbox to arrange items horizontally */
}

.rental-info div {
  margin-right: 10px;
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: left; /* Center horizontally */
  text-align: center;
}
